/*Estilos globales*/

h1,h3{
	font-family: 'Playfair Display', serif;
	font-style: italic;
}

p{
	font-family: 'Roboto', sans-serif;
	color:#323333;
}

a{
	color:#707070;
}
a:hover{
	color:black;
	transition: 1s;
	text-decoration: none;
}
/*Jerarquia de fonts*/

h1 {
	font-size: 5em;
}

h2{
	font-size: 2.25em;
}
h3{
	font-size: 1.6em;
}

p{
	font-size: 1em;
}

@media only screen and (max-width: 767px){
	h1{
		font-size: 2.60em;
	}
	h2{
		font-size: 1.625em;	
	}	
	h3{
		font-size: 1.375em;
	}
	p{
	font-size: 1em;
	}

}
/*nav sección 1*/

.navbar{
	background-color: #121619;

}

.navbar-brand img{
	width: 4em;
	margin-left: 200px;
	margin-top:20px;
}

.navbar-nav{
	margin-top:20px;
	margin-right: 8em;
	font-family: font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 1.1em;

}

@media only screen and (max-width: 767px){
	.navbar-brand img{
		width: 6em;
		margin-left:5px;
		margin-top:0px;
		padding: 20px;
	}
	.navbar_icon {
		margin-right: 20px;
	}
	.navbar-nav{
		margin-right: 0px;
	}
}

/*header sección 2*/

.header_barbershop{
	height: 80vh;
	background-image: url(../../assets/img/imagen.jpg);
	background-size: 100% 100%;
}

.header_barbershop h1{
	width: 50%;


}
.header_barbershop i{
	font-size: 50px;
	position: absolute;
	bottom: 30px;

}

@media only screen and (max-width: 767px){
	.header_barbershop{
	height: 40vh;
	background-image: url(../../assets/img/header-2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	}

	.header_barbershop h1{
		width: 80vw;
		}
	}

	/*main*/
	/*Blog sección 3*/

.blog{
line-height: 30px;

}

.blog img{
	width: 2em;
	border: 1px solid #707070;
	border-radius: 50%;
	padding: 0.5em;
}

.blog__fecha p{
	font-family: 'Playfair Display', serif;
	color:#707070;
	margin-left: 200px;
}
.blog__parrafo{
	color:#D56C6A;
}

.blog__boton{
	background-color: #323333;
	border: 1px solid #323333;
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.blog__boton i{
	font-size: 25px;
	margin-top: 7px;
}

.blog__boton__secundario{
	background-color: #323333;
	border-radius: 20px;
	padding: 5px;
	margin-bottom: 10px;

}
.blog__boton__secundario__texto{
	font-size: 0.6em;
	margin-left: 5px;
	font-size: 1em;


}

@media only screen and (max-width: 767px){
	.blog{
		line-height: 40px;
	}
	.blog .row p{
		margin-left: 40px;
	}

	.blog__fecha p{
		margin-left: 0px;
		text-align: center;
	}
	.blog__boton i{
		font-size: 25px;
	
	}
	.blog__boton__secundario{
		background-color: #323333;
		border-radius: 20px;
		width: 9em;
		height: 2.50em;
		margin-bottom: 10px;
		text-align: left;
	}
	.blog__boton__secundario__texto{
		display:none;
	}
}

/*Perfil sección 4*/

.perfil-naomi{
	position: relative;
	border: 1px solid #707070;
	border-radius: 0px;
	background-color: #ffffff;
	margin-bottom: 0px;
	
}
.perfil-naomi p{
	font-family: 'Roboto', sans-serif;
}
.perfil-naomi__user{
	background-color: #ffffff;
	border: 1px solid #707070;
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 14em;
	left: 31em;
}

.perfil-naomi__user__icon{
	font-size: 25px;
	color: #323333;
	text-align: center;
}

@media only screen and (max-width: 767px){
	.perfil-naomi p{
	display: none;
	}
	.perfil-naomi__user{
	position: absolute;
	bottom: 20.5em;
	left: 7.5em;

	}
}

/*Barra sección 5*/

.barra-flechas{
	margin:0px;

}

.barra-flechas i{
	font-size: 2em;
	padding-top: 0.1em;
	background-color: #707070;
	border: 1px solid: #707070;
	display: inline-block;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.barra-flechas__texto{
	font-size: 1.5em;
	font-family: font-family: 'Roboto', sans-serif;
	font-weight: normal;
}


@media only screen and (max-width: 767px){
	.barra-flechas__texto{
		display: none;
	}
	.barra-flechas i{
		font-size: 2em;
		margin-left: 3em;
		padding-top: 0.1em;
		background-color: #707070;
		border: 1px solid: #707070;
		display: inline-block;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}

/*footer Sección 6*/
.footer{
	background-color: #121619;
	border-radius: 0px;
	margin: 0px;
}
.footer img{
	width: 8em;
}